.linkedin-tags {
    margin-top: 8px;
}
.linkedin-tag {
    background: #F3F2EF;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    margin: 4px 4px 4px 0;
    font-size: 0.8em;
    cursor: pointer;
}
.active-tag {
    background: #0A66C2;
    color: #FFFFFF;
}