:root {
    --color-base-light: #FCF8F7;
    --color-base-dark: #000000;
    --color-one: #4251A2;
    --color-two: #E70617;
    --color-three: #9C8923;
    --color-four: #F3AB19;
    --color-five: #96C625;
    --color-six: #B27BB4;
    --color-seven: #34BEEF;
}

html, body {
    height: 100%;
}
body {
    font-family: Arial;
    font-size: 100%;
    font-weight: 500;
    color: #0c090d;
    background: var(--color-base-light);
}
.wrapper {
    max-width: 480px;
    margin: auto;
}
h1, h2 {
    font-family: "DejaVu Sans";
}
h1 {
    font-size: 2em;
    margin: 0.4em 0;
    font-weight: 400;
    color: var(--color-one);
}
strong {
    color: var(--color-one);
}
h2 {
    font-size: 1.4em;
    margin: 0.2em 0;
    font-weight: 100;
    color: var(--color-one);
}
a {
    color: var(--color-one);
}
p {
    line-height: 1.4em;
}
header, main {
    padding: 0 20px;
}
header {
    text-align: center;
    margin-top: 40px;
}
header a {
    display: block;
    margin: 41px auto;
}
figcaption {
    text-align: center;
    font-size: 0.75em;
}
.inline-tag {
    display: inline-block;
    transform: rotate(-0.5deg);
    color: white;
    padding: 0 2px 0 6px;
    font-family: courier;
    text-shadow: -1px 1px 2px #00000099;
    box-shadow: 0px 1px 2px #00000099;
    background-color: var(--color-two);
    font-weight: 500;
}
.card {
    padding: 20px;
    box-shadow: 0px 2px 4px #00000033;
    margin-top: 40px;
    overflow: hidden;
}
.card, .post {
    background: white;
}
.button {
    display: block;
    background: var(--color-one);
    color: var(--color-base-light);
    text-align: center;
    line-height: 1.4em;
    margin-top: 2em;
    padding: 1.4em;
}
img {
    max-width: 100%
}
.photo {
    width: 200px;
    height: 200px;
    position: relative;
}
.photo canvas {
    width: 200px;
    height: 200px;
}
footer {
    background: var(--color-base-dark);
    color: var(--color-base-light);
    padding: 20px;
    margin-top: 40px;
}
footer a {
    color: var(--color-base-light);
}
@media only screen and (max-width: 380px) {
    h2 {
        font-size: 1.6em;
    }
}