/*

mint cream eef4ed background
orchid d664be
dark orange ff8600
dark blue gray 56638a
dark purple 381d2a
midnight green eagle green 19535f

*/

html, body {
    height: 100%;
}
body {
    font-family: Arial;
    font-size: 100%;
    font-weight: 500;
    color: #381d2a;
    background: #eef4ed;
    max-width: 480px;
    margin: auto;
}
h1 {
    font-size: 2em;
    color: #d664be;
    margin: 0.4em 0;
    font-family: "Julius Sans One";
    font-weight: 400;
}
strong {
    color: #381d2a;
}
h2 {
    font-size: 1.4em;
    margin: 0.2em 0;
    color: #d664be;
    font-family: "Julius Sans One";
    font-weight: 400;
}
a {
    color: #d664be;
}
p {
    line-height: 1.4em;
}
header, main {
    padding: 0 20px;
}
header {
    text-align: center;
    margin-top: 40px;
}
header a {
    display: block;
    margin: 41px auto;
}
figcaption {
    text-align: center;
    font-size: 0.75em;
}
.tag {
    display: inline-block;
    background: #56638a;
    color: #fff;
    margin: 4px 2px 0 0;
    padding: 4px 6px;
    border-radius: 2px;
}
.card {
    padding: 20px;
    box-shadow: 0px 4px 8px #ccc;
    margin-top: 40px;
    overflow: hidden;
}
img {
    max-width: 100%
}
.photo {
    width: 200px;
    height: 200px;
    position: relative;
}
.photo canvas {
    width: 200px;
    height: 200px;
}
footer {
    background: #56638a;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
}
footer a {
    color: #fff;
}
@media only screen and (max-width: 380px) {
    h2 {
        font-size: 1.6em;
    }
}