---
layout: default
title: Projecten
---
{% assign projecten = site.data.projecten | where: "publicatie_status", "live" | reverse %}
{% for project in projecten limit: 5 %}
    {% include project-card.html %}
{% endfor %}

<div class="project-card">
    <div class="project-body">
        <p style="text-align: right">
            <a href="/projecten" style="color: #000">Bekijk alle projecten »</a>
        </p>
    </div>
</div>

{% comment %}
{% include toggle-cards-script.html %}
{% endcomment %}