---
layout: default
title: Projecten
---
<div>

<section class="card-section right-card">
    <h1 style="padding: 24px 24px 12px">Mijn Projecten</h1>
    {% assign projecten = site.data.projecten | where: "publicatie_status", "live" | reverse %}
    {% for project in projecten limit: 3 %}
        {% include project-card.html %}
    {% endfor %}

    <div class="project-card">
        <div class="project-body">
            <p style="text-align: right">
                <a href="/projecten">Bekijk alle projecten »</a>
            </p>
        </div>
    </div>
</section>

<section class="card-section right-card">
    <h1 style="padding: 24px 24px 12px">Mijn Aantekeningen</h1>
    {% assign collection = site.aantekeningen|sort|reverse %}
    {% include cards.html collection=collection limit=1 %}

    <div class="project-card">
        <div class="project-body">
            <p style="text-align: right">
                <a href="/aantekeningen">Bekijk alle aantekeningen »</a>
            </p>
        </div>
    </div>
</section>

<section class="card-section right-card">
    <h1 style="padding: 24px 24px 12px">Mijn Open Communities</h1>
    {% assign communities = site.data.communities | where: "publicatie_status", "live" %}
    {% for community in communities limit: 2 %}
        {% include community-card.html %}
    {% endfor %}

    <div class="project-card">
        <div class="project-body">
            <p style="text-align: right">
                <a href="/communities">Bekijk alle communities »</a>
            </p>
        </div>
    </div>
</section>

<section class="card-section right-card">
    <h1 style="padding: 24px 24px 12px">Toffe Tools</h1>
    {% assign tools = site.data.tools | where: "publicatie_status", "live" %}
    {% for tool in tools limit: 2 %}
        {% include tool-card.html %}
    {% endfor %}

    <div class="project-card">
        <div class="project-body">
            <p style="text-align: right">
                <a href="/tools">Bekijk alle tools »</a>
            </p>
        </div>
    </div>
</section>

</div>

{% comment %}
{% include toggle-cards-script.html %}
{% endcomment %}