/* for quick find-replace: the highlight color is #266B96 */

html, body {
    height: 100%;
}
body {
    font-family: Arial;
    font-size: 100%;
    font-weight: 100;
    color: #222;
    max-width: 480px;
    margin: auto;
}
h1 {
    font-size: 2.8em;
    color: #266B96;
    margin: 0.4em 0;
    font-family: "Julius Sans One";
    font-weight: 900;
}
strong {
    color: #266B96;
}
h2 {
    font-size: 2em;
    margin: 0.2em 0;
    color: #445;
    font-family: "Julius Sans One";
    font-weight: 400;
}

a {
    color: #266B96;
}
p {
    line-height: 1.4em;
}
.tag {
    display: inline-block;
    background: #266B96;
    color: #fff;
    margin: 4px;
    padding: 4px 6px;
    border-radius: 2px;
}

img {
    max-width: 100%
}