{% if include.card %}
<a name="{{ item.id }}"></a>
<div class="card">
    {% if include.type=='kaart' %}
        <p> {{ item.label | default: item.title | downcase }} </p>
        <div>{{ item.teaser }}</div>
    {% else if include.type=='meetup' %}
        <div style="margin: 1em 0">
            <span>{{ item.type }}{% include date.html date=item.date %}</span>
            <a href="{{ item.url }}"><h2>{{ item.title }}</h2></a>
        </div>

        <div class="p-ish">{{ item.teaser }}</div>

        {% include tags.html tags=item.tags %}
    {% else %}
        <div class="image-crop" style="height: 100px; width: 100%; background: url({{ item.image }}) center center no-repeat; background-size: cover"></div>
        <div style="margin: 1em 0">
            <span>Aantekening {% include date.html date=item.date %}</span>
            <a href="{{ item.url }}"><h2>{{ item.title }}</h2></a>
        </div>

        <div class="p-ish">{{ item.teaser }}</div>

        {% include tags.html tags=item.tags %}
    {% endif %}

    <a class="button" href="{{ item.url }}">Meer over "{{ item.label | default: item.title }}"</a>
</div>
{% endif %}