<style>
    .computer {
        width: 310px;
        background: #B5A878;
        border-top: 10px solid #DAD7B8;
        border-right: 4px solid #9D9266;
        border-left: 4px solid #9D8759;
        border-bottom: 10px solid #736936;
        margin: auto;
        position: relative;
    }
    .computer .screen {
        width: 280px;
        height: 210px;
        background: #000000;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-bottom: 4px solid #DAD7B8;
        border-left: 4px solid #9D9266;
        border-right: 4px solid #9D8759;
        border-top: 4px solid #736936;
    }
    .computer .bottom {
        position: relative;
    }
    .computer .drive {
        width: 100px;
        height: 4px;
        margin-left: 140px;
        background: #000000;
        margin-bottom: 40px;
        border-bottom: 4px solid #DAD7B8;
        border-left: 4px solid #9D9266;
        border-right: 4px solid #9D8759;
        border-top: 4px solid #736936;
    }
    .computer .logo-tiltshift {
        position: relative;
        width: 50px;
        height: 50px;
        background: rgba(181, 168, 120, .25) url(/img/stickers/tiltshift-sticker.svg) center center no-repeat;
        background-blend-mode: darken;
        background-size: 50px;
        position: absolute;
        top: -5px;
        left: 30px;
        -webkit-transform: rotate(15deg);
    }
    .computer .logo-codefornl {
        position: relative;
        width: 100px;
        height: 22px;
        background: rgba(181, 168, 120, .25) url(/img/stickers/codefornl-sticker.svg) center center no-repeat;
        background-blend-mode: darken;
        background-size: 100px;
        position: absolute;
        top: 20px;
        left: 70px;
        -webkit-transform: rotate(-5deg);
    }
    .computer .logo-publiccode {
        position: relative;
        width: 40px;
        height: 40px;
        background: rgba(181, 168, 120, .25) url(/img/stickers/publiccode-sticker.png) center center no-repeat;
        background-blend-mode: darken;
        background-size: 40px;
        position: absolute;
        top: -8px;
        left: 260px;
        -webkit-transform: rotate(5deg);
    }
    .computer .logo-opensourcewerken {
        position: relative;
        width: 32px;
        height: 32px;
        background: rgba(181, 168, 120, .25) url(/img/stickers/opensourcewerken-sticker.png) center center no-repeat;
        background-blend-mode: darken;
        background-size: 32px;
        position: absolute;
        top: 13px;
        left: 222px;
        -webkit-transform: rotate(-10deg);
    }
</style>
<div id="easterEgg" class="banner-image" style="background: #000000; width: 100%; display: none; padding: 10px 0">
    <div class="computer">
        <canvas class="screen"></canvas>
        <div class="bottom">
            <div class="drive"></div>
            <div class="logo-tiltshift"></div>
            <div class="logo-codefornl"></div>
            <div class="logo-publiccode"></div>
            <div class="logo-opensourcewerken"></div>
        </div>
    </div>
</div>