<section class="card-section">
    <img style="height: 48px; float: right; padding: 20px" src="{{ include.icon }}">
    <h1 style="padding: 24px 24px 12px">Ik, elders</h1>
    <div style="padding: 0 24px">
        {% for profile in site.data.externalProfiles %}
            <a href="{{ profile.url }}" aria-label="Naar mijn profielpagina op {{ profile.name }}"><img src="https://www.google.com/s2/favicons?domain={{ profile.url }}&amp;sz=48" alt="Logo van {{ profile.name }}" style="height: 36px; margin: 10px;"></a>
        {% endfor %}
    </div>
</section>