<aside style="background: white; padding: 20px">
    <h1>{{ site.title }}</h1>
    <p><span class="fn" itemprop="name">{{ site.description }}</span></p>
    <div class="photo" style="margin: 40px auto; cursor: pointer">
        <img itemprop="image" id="photo" src="{{ site.data.person.picture }}" alt="Foto van {{ site.data.person.name }}">
    </div>
    <nav>
        <p><a class="inline-tag" href="/">/home</a></p>
        <p><a class="inline-tag" href="/kaarten">/kaarten</a></p>
        <p><a class="inline-tag" href="/aantekeningen">/aantekeningen</a></p>
    </nav>
</aside>