<header>
    <h1>{{ site.data.site.title }}</h1>
    <h2 class="inline-tag" style="margin: -4em 0.5em 0.5em">{{ include.header | default: site.data.site.quote }}</h2>
    <h2><span class="fn" itemprop="name">{{ site.data.person.name }}</span></h2>
    <div class="photo" style="margin: 40px auto; cursor: pointer">
        <img itemprop="image" id="photo" src="{{ site.data.person.picture }}" alt="Foto van {{ site.data.person.name }}">
    </div>
    <!-- <a class="snes-reset-button" href="/">RESET</a> -->
</header>