<link rel="image_src" href="{{ page.image | default: site.img }}" />
<link rel="shortcut icon" type="image/png" href="{{ page.image | default: site.img }}" />

<title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
<meta name="title" content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}" />
<meta name="description" content="{{ page.teaser | default: site.description }}" />
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />

<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" name="title" content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}" />
<meta property="og:description" name="site.description" content="{{ page.teaser | default: site.description }}" />
<meta property="og:image" content="{{ page.image | default: site.img }}" />
<link rel="image_src" href="{{ page.image | default: site.img }}" />
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:username" content="{{ page.twitter_user | default: site.twitter_user }}" />
<meta name="twitter:title" content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}" />
<meta name="twitter:description" content="{{ page.teaser | default: site.description }}" />
<meta name="twitter:image:src" content="{{ page.image | default: site.img }}" />
