<link rel="image_src" href="{{ page.img }}" />
<link rel="shortcut icon" type="image/png" href="{{ page.img }}" />

<title>{{ page.title }}</title>
<meta name="title" content="{{ page.title }}" />
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywords }}" />

<meta property="og:url" content="{{ page.url }}" />
<meta property="og:title" name="title" content="{{ page.title }}" />
<meta property="og:description" name="description" content="{{ page.description }}" />
<meta property="og:image" content="{{ page.img }}" />
<link rel="image_src" href="{{ page.img }}" />
<meta name="keywords" content="{{ page.keywords }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:username" content="{{ page.twitter_user }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:image:src" content="{{ page.img }}" />
