<link rel="image_src" href="{{ site.img }}" />
<link rel="shortcut icon" type="image/png" href="{{ site.img }}" />

<title>{{ site.title }}</title>
<meta name="title" content="{{ site.title }}" />
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="{{ site.keywords }}" />

<meta property="og:url" content="{{ site.url }}" />
<meta property="og:title" name="title" content="{{ site.title }}" />
<meta property="og:description" name="site.description" content="{{ site.description }}" />
<meta property="og:image" content="{{ site.img }}" />
<link rel="image_src" href="{{ site.img }}" />
<meta name="keywords" content="{{ site.keywords }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:username" content="{{ site.twitter_user }}" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:image:src" content="{{ site.img }}" />
