<!DOCTYPE html>
<html lang="nl">
    {% include head.html %}
    
    <body>
        <nav>{% include menu.html symbol="ⓘ" url="/menu" %}</nav>
        {% include linkedin-tags-script.html %}
        <div class="wrapper">
            <aside>
                {% include header.html %}

                <!-- {% include snippet-html-test.html %} -->

                {% include about.html title="Over mij" text=site.about %}

                {% include cta.html
                    icon="https://www.tiltshift.nl/assets/img/logo_cropped.svg"
                    title="Uw partner voor publieke digitalisering"
                    teaser="Vastgelopen in digitale transformatie? Ook beginnen met opensourcewerken? Innovatieve toepassingen nodig voor betere uitvoer?"
                    url="https://www.tiltshift.nl/mensen/johan-groenen"
                    cta="Doe het met Tiltshift!" %}

                {% comment %}
                {% include cta.html
                    title="Ook zo'n projectpagina?"
                    teaser="Laat het weten, dan kijken we er samen even naar."
                    url="mailto:johan@jgroenen.nl"
                    cta="Mail even" %}
                {% endcomment %}

                {% include externalProfiles.html %}
            </aside>

            <main>
                {{ content }}
            </main>
        </div>

        {% include footer.html %}

        <script type="module" src="{{ "/js/main.js" | relative_url }}"></script>
    </body>
</html>
