<!DOCTYPE html>
<html>
    
    {% include head.html %}
    
    <body class="vcard" itemscope itemtype="https://schema.org/Person">

        <div class="wrapper">
        
            {% include header.html header='kaarten' %}

            <main>
                <div class="card">
                    {% assign label = page.label | default: page.title | downcase %}
                    <p> {{ label }} </p>
                    {{ content }}
                    <p><a href="{{ page.link }}">{{ page.link }}</a></p>
                    <p>Op- of aanmerkingen? Ik sta graag open voor discussie, bijvoorbeeld op <a href="https://www.twitter.com/jpagroenen">Twitter</a>.</p>

                    {% assign tags = page.tags %}
                    {% for concept in site.concepten %}
                        {% if concept.tags contains label %}
                            {% assign otherLabel = concept.label | default: concept.title | downcase %}
                            {% assign tags = tags | push: otherLabel %}
                        {% endif %}
                    {% endfor %}
                    {% assign tags = tags | uniq %}

                    <center>
                        {% include tags.html tags=tags %}
                        <a class="button" href="/meetups">Check de andere meetups</a>
                    </center>
                </div>

                {% include cta.html %}

                {% assign tag = page.title|downcase %}
                {% include cards.html collection=site.aantekeningen header="Aantekeningen" tag=tag %}
                <br>
                <a href="/">« terug naar hoofdpagina</a>
            </main>

        </div>

        {% include footer.html %}

        <script type="module" src="/js/main.js"></script>

    </body>
</html>
